:root {
  --header-bg: #f1f1f1;
  --btn-bg-white: #ffffff;
  --btn-text-black: #242424;
  --btn-bg-grey: #dddddd;
  --btn-grey-text: #7a7a7a;
  --matcher-text: #a4a4a4;
  --body-bg: #e7e7e7;
}

.main {
  margin: 2rem 0rem;
}

.header {
  background-color: var(--header-bg);
  padding: 16px;
  border-radius: 10px 10px 0px 0px;
}

.patterns-heading {
  font-weight: 700;
  margin: 0px;
  margin-bottom: 17px;
}

.main .btns-container {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px 6px 0px;
}

.btns-container .reference-sheet,
.btns-container .copy-code {
  background: var(--btn-bg-white);
  font-weight: 600;
  padding: 12px 18px;
}

.reference-sheet,
.copy-code,
.swift {
  border-radius: 14px;
}

.left-btns {
  display: flex;
  align-items: end;
}

.middle-btns {
  display: flex;
  flex-direction: column;
}

.middle-btns .btns {
  background: var(--btn-bg-grey);
  border-radius: 12px;
}

.middle-btn:nth-of-type(1) {
  font-weight: 600;
  padding: 12px 18px;
  color: var(--btn-grey-text);
}

.middle-btn:nth-of-type(1):focus,
.middle-btn:nth-of-type(2):focus,
.middle-btn:nth-of-type(3):focus {
  box-shadow: none;
}
#white_bg {
  background: var(--btn-bg-white);
  color: black;
  border-radius: 12px;
}

.middle-btn:nth-of-type(2),
.middle-btn:nth-of-type(3) {
  background: var(--btn-bg-grey);
  color: var(--btn-grey-text);
  font-weight: 600;
  border-radius: 6px;
  padding: 12px 18px;
}
.middle-btn:nth-of-type(2) {
  border-radius: 0px;
}

.right-btns {
  display: flex;
  justify-content: center;
  align-items: end;
}

.swift {
  background-color: var(--btn-bg-white);
  padding: 12px 80px 12px 10px;
  border: 2px solid white;
  cursor: pointer;
  margin-right: 18px;
}

.swift:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* body */
.body {
  background-color: var(--body-bg);
  padding: 8px;
}

.regular-expression-container {
  padding: 12px 7px;
  background-color: var(--header-bg);
}

.regular-expression-container .heading {
  display: flex;
  background-color: var(--header-bg);
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  flex: 1;
}
.heading form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.regular-expression-heading {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

.html-container {
  background-color: var(--btn-bg-grey);
  margin: 12px;
  padding: 12px;
}

/* search text container */
.search_text_container {
  padding: 12px 7px;

  /* background-color: var(--header-bg); */
}

.search_text_container .heading {
  background-color: var(--header-bg);
  padding: 20px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_text_heading {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

.matches_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.matches_div p {
  margin: 0px 12px 0px 0px;
  opacity: 50%;
}
.matches_div .btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.matches_div .btns button {
  border: none;
  background-color: #ffffff;
  padding: 2px 8px;
  font-weight: bold;
}

.matches_div .btns button:nth-of-type(1) {
  margin-right: 9px;
}

.search_text_container .body {
  background-color: var(--btn-bg-grey);
  /* margin: 12px; */
  padding: 12px;
}

.search_text_container .matches {
  padding-top: 28px;
  padding-bottom: 28px;
}

/* modal */

.modal_container_custom .modal-content {
  background-color: var(--header-bg);
  border-radius: 10px;
}

.mymodal_header div {
  flex: 1 !important;
  font-weight: bold;
}

.mymodal_header button {
  margin: 0px !important;
  order: -1;
  background-color: var(--btn-bg-white) !important;
  padding: 14px !important;
  border-radius: 50%;
}

.bracket_expressions_container {
  padding: 4px;
  background-color: var(--btn-bg-white);
  border-radius: 10px;
}

.bracket_expressions_container .title {
  padding: 10px 0px 10px 10px;
  font-weight: bold;
}

.bracket_expressions_container .expression {
  background-color: #dfdfdf;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bracket_expressions_container .description {
  background-color: #dfdfdf;
  padding: 10px;
}

.bracket_expressions_container .odd {
  background-color: #e7e7e7;
}
